{% extends 'base.html' %} {% block head_content %}
<link href="../static/assets/css/style.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="../static/styles/about.css" />
{% endblock %} {% block body_content %}
<section class="page-header bg-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto text-center">
        <h2 class="mb-3 text-capitalize">About Us</h2>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-7">
          <div class="section-title">
            <p class="text-primary text-uppercase fw-bold mb-3">About Ketero</p>
            <h2 class="h1 mb-4">
              Maintain your health now,<br />
              Make an appointment
            </h2>
            <div class="content pe-0 pe-lg-5">
              <p>
                Ketero is an online card booking system that will save your precious time, money and energy by providing you with the ability to search and find hospitals along with their services
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
          <img
            loading="lazy"
            decoding="async"
            src="../static/assets/images/about/woman.jpg"
            alt="Operation room&lt;br&gt; from our hospitals"
            class="rounded w-100"
          />
        </div>
      </div>
    </div>
  </section>

  <section
    class="about-section section bg-tertiary position-relative overflow-hidden"
  >
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-around">
        <div class="col-lg-5">
          <div class="section-title">
            <p class="text-primary text-uppercase fw-bold mb-3"></p>
            <h2>Who We Are?</h2>
          </div>
          <p class="lead">
            Ketero is completely independent company that provides
            services related health care. We help our clients to save their resources by finding the services they need online. 
          </p>
          <div class="content">
            The idea came from the inspiration that an online card booking system would help improve health access for many. This was because the country where the developers were based, Ethiopia, did not have this service.
          </div>
        </div>
        <div class="col-lg-5">
          <div class="section-title">
            <p class="text-primary text-uppercase fw-bold mb-3"></p>
            <h2>What We Offer?</h2>
          </div>
          <p class="lead">
            Our carding system is one of the quicke with ease ordering and
            doorstep lorem ipsum serviceullam dolor sitisi.
          </p>
          <div class="content">
            <ul>
              <li>Order cards from the hospitals available in ethiopia</li>
              <li>Get an overview of hospitals, their location, and what they offer</li>
              <li>Make an appointment with doctors from different hospitals</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section core-value bg-tertiary">
    <div class="container" >
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="row position-relative gy-4">
            <div class="icon-box-item col-md-6" data-aos="fade-up">
              <div class="block bg-white">
                <div class="icon rounded-number">01</div>
                <h3 class="mb-3">Authentic</h3>
                <p class="mb-0">
                  Ketero solves problems faced by patients daily
                </p>
              </div>
            </div>
            <div class="icon-box-item col-md-6" data-aos="fade-up">
              <div class="block bg-white">
                <div class="icon rounded-number">02</div>
                <h3 class="mb-3">Fast</h3>
                <p class="mb-0">
                  Ketero provides efficent service with filtering systems 
                </p>
              </div>
            </div>
            <div class="icon-box-item col-md-6" data-aos="fade-up">
              <div class="block bg-white">
                <div class="icon rounded-number">03</div>
                <h3 class="mb-3">Ease Access</h3>
                <p class="mb-0">
                  Ketero makes online card booking easy and accessible
                </p>
              </div>
            </div>
            <div class="icon-box-item col-md-6" data-aos="fade-up">
              <div class="block bg-white">
                <div class="icon rounded-number">04</div>
                <h3 class="mb-3">User-Focused</h3>
                <p class="mb-0">
                  Ketero makes sure the needs of patients who need to book online are addressed
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-up">
          <div class="section-title ps-0 ps-lg-5">
            <p class="text-primary text-uppercase fw-bold mb-3">
              Values We Provide
            </p>
            <h2 class="h1">Our Core Values</h2>
            <div class="content">
              <p>
                We are a company that believes in honesty, transparency, teamwork and helping others.
                We provide equal opportunity despite race, ethnicity, gender, impairment, and other factors.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section teams">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center">
            <h1>Our Team</h1>
            <p class="mb-0">
              This is our team
            </p>
          </div>
        </div>
      </div>
      <div class="row position-relative">
        <div class="col-xl-3 col-lg-4 col-md-6 mt-4">
          <div class="card bg-transparent border-0 text-center">
            <div class="card-img">
              <img
                loading="lazy"
                decoding="async"
                src="static/assets/images/about/1.png"
                alt="Gizachew Bayness"
                class="rounded w-100"
                width="300"
                height="332"
              />
              <ul class="card-social list-inline">
                <li class="list-inline-item">
                  <a class="facebook" href="https://github.com/eleccrazy" target="_blank"
                    ><i class="fa-brands fa-github"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="twitter" href="https://twitter.com/eleccrazy" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a class="instagram" href="https://www.instagram.com/eleccrazy/" target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <h3>Elec Crazy</h3>
              <p>Co-founder</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mt-4">
          <div class="card bg-transparent border-0 text-center">
            <div class="card-img">
              <img
                loading="lazy"
                decoding="async"
                src="static/assets/images/about/3.jpg"
                alt="Helina Abye"
                class="rounded w-100"
                width="300"
                height="333"
              />
              <ul class="card-social list-inline">
                <li class="list-inline-item">
                  <a class="facebook" href="https://github.com/helinaabye" target="_blank"
                    ><i class="fa-brands fa-github"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="twitter" href="https://twitter.com/coderette_" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a class="instagram" href="#"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <h3>Helina Abye</h3>
              <p>Co-founder</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mt-4">
          <div class="card bg-transparent border-0 text-center">
            <div class="card-img">
              <img
                loading="lazy"
                decoding="async"
                src="static/assets/images/about/2.jpg"
                alt="Joseph Tepano"
                class="rounded w-100"
                width="300"
                height="332"
              />
              <ul class="card-social list-inline">
                <li class="list-inline-item">
                  <a class="facebook" href="https://github.com/Jo2831" target="_blank"
                    ><i class="fa-brands fa-github"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a class="instagram" href="#"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <h3>Joseph Tepano</h3>
              <p>Co-founder</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="section-sm bg-tertiary">
    <div class="container">
      <section id="contact">
        <div class="container">
          <div class="section-header">
            <h2>Contact Us</h2>
            <p>
              Please feel free to contact us with the contact info below if you have any questions, comments and suggestions. 
            </p>
          </div>

          <div class="row contact-info">
            <div class="col-md-4">
              <div class="contact-address">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <address>
                  ADORE Addis Hotel Co-working, Bole Atlas, Addis Ababa,
                  Ethiopia
                </address>
              </div>
            </div>

            <div class="col-md-4">
              <div class="contact-phone">
                <i class="bi bi-phone"></i>
                <h3>Phone Number</h3>
                <p><a href="tel:+251918309763">+251 918 3097 63</a></p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="contact-email">
                <i class="bi bi-envelope"></i>
                <h3>Email</h3>
                <p>
                  <a href="mailto:eleccrazy24@gmail.com"
                    >mailto@health.ketero.com</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="container mb-4">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.697584031638!2d38.77754611744385!3d8.9999497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b859c8f00f9ab%3A0xeed057179a71c9e5!2zQURPUkUgQWRkaXMgSG90ZWwgQ28td29ya2luZyBEaW5pbmcgfCBBdGxhcyB8IOGKoOGLtuGIrSDhiqDhi7LhiLUg4YiG4Ym04YiNIHwg4Yqg4Ym14YiL4Yi1!5e0!3m2!1sen!2set!4v1671307712219!5m2!1sen!2set"
            width="100%"
            height="480"
            frameborder="0"
            style="border: 0"
            allowfullscreenwidth="600"
          ></iframe>
        </div>

        <div class="container">
          <div class="form">
            <form
              action="forms/contact.php"
              method="post"
              role="form"
              class="php-email-form"
            >
              <div class="row">
                <div class="form-group col-md-6">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    required
                  />
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Your Email"
                    required
                  />
                </div>
              </div>
              <div class="form-group mt-3">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  placeholder="Subject"
                  required
                />
              </div>
              <div class="form-group mt-3">
                <textarea
                  class="form-control"
                  name="message"
                  rows="5"
                  placeholder="Message"
                  required
                ></textarea>
              </div>

              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your message has been sent. Thank you!
                </div>
              </div>

              <div class="text-center">
                <button type="submit">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </section>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <ul class="list-unstyled list-inline mb-0 text-lg-center">
            <li class="list-inline-item me-4">
            </li>
            <li class="list-inline-item me-4">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %} {% block script_content%}
  <script src="../static/assets/js/slick/slick.min.js"></script>
  <script src="../static/assets/js/scrollmenu/scrollmenu.min.js"></script>
  <script src="../static/script/about.js"></script>
  {% endblock %}
</section>
