{% extends 'base.html' %} {% block head_content %}
<link href="../static/assets/img/favicon.png" rel="icon" />
<link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
{% endblock %} {% block body_content %}
<!-- ======= hero Section ======= -->
<section id="hero">
  <div class="hero-content">
    <h2>We Care<span> About Your </span><br />Health</h2>
  </div>
  <div class="hero-slider swiper">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        style="
          background-image: url('../static/assets/images/slider/operation.jpg');
        "
      ></div>
      <div
        class="swiper-slide"
        style="background-image: url('../static/assets/images/slider/mri.jpg')"
      ></div>
      <div
        class="swiper-slide"
        style="
          background-image: url('../static/assets/images/slider/labratory.jpg');
        "
      ></div>
      <div
        class="swiper-slide"
        style="
          background-image: url('../static/assets/images/slider/blood.jpg');
        "
      ></div>
      <div
        class="swiper-slide"
        style="
          background-image: url('../static/assets/images/slider/digital.jpg');
        "
      ></div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="../static/assets/images/doctors-3268434_1920.jpg" alt="" />
        </div>

        <div class="col-lg-6 content">
          <h2>Making health care more accessible for you!</h2>
          <h3>Here are the ways Ketero will improve your health access</h3>

          <ul>
            <li>
              <i class="bi bi-check-circle"></i> Find the best hospital near you
              providing the service you need
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Order your hospital card online
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Book an appointment for the
              service you need from where ever you are.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row city-filter"></div>
  </div>
  <section id="contact">
    <div class="container">
      <div class="section-header">
        <h2>Contact Us</h2>
        <p>
          Please feel free to contact us with the contact info below if you have
          any questions, comments and suggestions.
        </p>
      </div>

      <div class="row contact-info">
        <div class="col-md-4">
          <div class="contact-address">
            <i class="bi bi-geo-alt"></i>
            <h3>Address</h3>
            <address>
              ADORE Addis Hotel Co-working, Bole Atlas, Addis Ababa, Ethiopia
            </address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="bi bi-phone"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+251963364347">+251 963 3643 47</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="bi bi-envelope"></i>
            <h3>Email</h3>
            <p>
              <a href="mailto:eleccrazy24@gmail.com"
                >info@ketero.gizachew-bayness.tech</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.697584031638!2d38.77754611744385!3d8.9999497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b859c8f00f9ab%3A0xeed057179a71c9e5!2zQURPUkUgQWRkaXMgSG90ZWwgQ28td29ya2luZyBEaW5pbmcgfCBBdGxhcyB8IOGKoOGLtuGIrSDhiqDhi7LhiLUg4YiG4Ym04YiNIHwg4Yqg4Ym14YiL4Yi1!5e0!3m2!1sen!2set!4v1671307712219!5m2!1sen!2set"
        width="100%"
        height="480"
        frameborder="0"
        style="border: 0"
        allowfullscreenwidth="600"
      ></iframe>
    </div>

    <div class="container">
      <div class="form">
        <form method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                required
              />
            </div>
            <div class="form-group col-md-6 mt-3 mt-md-0">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                required
              />
            </div>
          </div>
          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Subject"
              required
            />
          </div>
          <div class="form-group mt-3">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              placeholder="Message"
              required
            ></textarea>
          </div>

          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>

          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
{% endblock %} {% block script_content %}
<script src="../static/script/filter.js"></script>
{% endblock %}
